.content-stepper {
  width: 100%;

  .content-appointments {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content-appointments--boddy {
      width: 100%;
      display: flex;
      min-height: 355px;

      .content-appointments--boddy---left {
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
          font-size: 24px !important;
          font-weight: normal;
          color: #069
        }

        .content-appointments--boddy---left----auto-complete-appointments {
          display: none;
        }

        .content-appointments--boddy---left----resume {
          width: 100%;
          background-color: #A3CCDA;
          margin-top: 10px;
          padding: 10px;
          border-radius: 12px;
        }
      }

      .content-appointments--boddy---right {
        padding-left: 10px;

        .content-appointments--boddy---right----data-appointment {
          width: 100%;
          min-height: 330px;
          border: 1px solid #ccc;
          border-radius: 7px;
          padding: 3px;
        }
      }
    }

    .content-appointments--actions {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;

      button {
       margin: 0 5px;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .content-stepper {
    .content-appointments {
      .content-appointments--boddy {
        min-height: auto;
        flex-direction: column;

        .content-appointments--boddy---left {
          width: 100%;

          .title {
            font-size: 22px !important;
          }

          .content-appointments--boddy---left----auto-complete-appointments {
            width: 100%;
            display: block;
            margin: 13px 0 5px 0;
          }

          .content-appointments--boddy---left----resume {
            border-radius: 5px;
          }
        }

        .content-appointments--boddy---right {
          display: none;
          width: 100%;
          padding-left: 0;
          margin-top: 15px;

          .content-appointments--boddy---right----data-appointment {
            min-height: auto;

            .content-appointments--boddy---right----data-appointment-----data-table-appointments {
              display: none;
            }
          }
        }
      }

      .content-appointments--actions {
        flex-direction: column-reverse;

        button {
          margin: 5px 0;
        }
      }
    }
  }
}